.logo-resizer {
	width: 300px;
	height: 100px;
}

.left-margin-appearance {
	margin-left: 50px;
}

.styleWidgets{
	height:auto;
}

.overflowAuto {
	overflow: auto;
}

#sortable1,#sortable2,#sortable3,#sortable4,#sortable5 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	zoom: 1;
}

#sortable1 li,#sortable2 li,#sortable3 li,#sortable4 li,#sortable5 li {
	margin: 0 5px 5px 5px;
	padding: 3px;
	width: 90%;
}

.inputFullWidth{
	width:100%;
}

.hrStyler{
	border-color: #B5B5B5;
	width:95%;
}

.inviteMarginLeft{
	
	margin-left:30px;
}

.errorForm{
	color: red;
}

.carousel-left-font-size {
	font-size: 30px;
}

.v-center {
	display: table;
	border: 2px solid gray;
	height: 300px;
}

.content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.styleWidgets{
	height:auto;
}


table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
.redColor{
	color: darkred;
}